@page "/food"
@using RecipeTracker.Web.Components.buildingBlocks
@inherits FoodBase
@rendermode InteractiveServer

<PageTitle>@t["Food.PageTitle"]</PageTitle>

<h3>@t["Food.PageTitle"]</h3>

<!-- Search Bar Component -->
<SearchBar Query="@Query"
           OnSearch="SearchRecipes"
           IsLoading="@IsLoading"
           Translations="@t" />

@if (ErrorMessage != null)
{
	<p class="error-message">@ErrorMessage</p>
}
else if (IsLoading)
{
	<p>@t["Food.LoadingState"]</p>
}
else if (Recipes.Count == 0)
{
	<p>@t["Food.NoRecipesFoundMessage"]</p>
}
else
{
	<div class="recipe-cards grid-container">
		@foreach (var recipe in Recipes)
		{
			<RecipeCard Recipe="recipe" Translations="@t" />
		}
	</div>
}